/* Coded with love by Mutiullah Samim */
body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #FAFAFA !important;
	font-family: 'Roboto', sans-serif !important;
}

.header{
	height: 22vh;
	background: #1D71B6;
	padding-top: 3%;
}

.body{
	height: 70vh;
}

.footer{
	height: 8vh;
	text-align: center;
}
.modal-header{
	background: #1D71B6;
	color: #fff;
}
.user_card {
	height: 360px;
	width: 245px;
	margin-top: 60px;
	margin-bottom: auto;
	background: white;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;

}
.user_card2 {
	height: 360px;
	width: 245px;
	margin-top: 60px;
	margin-bottom: auto;
	background: white;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;

}
.brand_logo_container {
	position: absolute;
	top: -47px;
	/* height: 130px;
	width: 130px;
	border-radius: 50%;
	border: 2px solid #1D71B6;
	background: #1D71B6;
	padding: 10px; */
	text-align: center;
}
.brand_logo {
	height: 96px;
	width: 96px;
	/* border-radius: 50%;
	border: 2px solid white; */
}
form{
	/* width: 188px; */
}
/* .form_container { */
	/* margin-top: 50px; */
/* } */
.login_btn {
	width: 100%;
	background: #1BAFE6 !important;
	color: white !important;
	border-radius: 0px !important;
}
.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.login_container {
	padding: 0 2rem;
}
.input-group-text {
	background: white !important;
	padding-left: 3px !important;
	color: #819CBC !important;
	border: 0 !important;
}
.input_user,.input_pass{
	border: 0 !important;
	border-bottom: 1px #1BAFE6 solid !important;
	background-color: #F6F6F6 !important;
	border-radius: 0 !important;
	height: 30px !important;
	color: #819CBC !important;
	font-size: 0.9rem !important;
}
.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #c0392b !important;
}
.links{
	font-size: 0.9rem;
}

input,select{
	border: 0 !important;
	border-bottom: 1px #1BAFE6 solid !important;
	background-color: #F6F6F6 !important;
	border-radius: 0 !important;
	color: #819CBC !important;
	font-size: 0.9rem !important;
}

label{
	color: #819CBC !important;
}

#btnReestablecerCredenciales, #btnActualizarDatos{
	background: #1BAFE6;
	border-radius: 0;
}

#btnContinuar{
	border-radius: 0;
}