    body{
        margin: 0px !important;
        background-color: #F0F0F0 !important;
        width: 100%;
        overflow: hidden
    }
    #header{
        width:100%;
        position:fixed;
        padding-top:3%;
        padding-bottom: 3%;
        padding-left: 1.5%;
        z-index: 1;
    }
    #opcionesUser{
        color:#006E98 !important;
    }
    /* scroll */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
    /* scroll */
    .wrapper{
        display: flex;
        width: 100%;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
    .text-capitalize{
        text-transform: capitalize;
    }
    #loadingGeneral{
        text-align: center;
    }
    .btn-portal{
        border-color: #34b0c4 !important;
        background: #34b0c4 !important;
        color: white !important;
    }
    .dropdown-menu .dropdown-item{
        color:#34b0c4 !important;
    }
    /* sidebar */
    #sidebar {
        width: 250px;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100vh;
        background: #ffffff;
        color: #fff;
        border-right: 1px solid #dee2e6;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        margin-top: 40px;
        padding-bottom: 150px;
        margin-top: 50px;
    }
    #sidebar .sidebar-header {
        top: 51px;
        left: 0;
        background: #ffffff;
        color: #34b0c4;
    }
    .mCustomScrollBox {
        position: relative;
        overflow: hidden;
        height: 100%;
        max-width: 100%;
        outline: 0;
        direction: ltr;
    }
    #sidebar ul.components {
        padding: 1px 0;
    }
    #sidebar ul li a {
        padding: 10px;
        font-size: 1em;
        display: block;
        color: #34b0c4;
        text-decoration: none;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    .list-unstyled li a.active {
        background: #34b0c4;
        color: white !important;
    }
    #sidebar .fa-angle-down, #sidebar .fa-angle-up{
        float: right;
    }

    .collapse:not(.show) {
        display: none;
    }
    .list-unstyled {
        padding-left: 2px;
        list-style: none;
    }
    .list-sub-unstyled{
        padding: 0;
    }
    .list-sub-unstyled li a.active{
        background-color: #7fd4e2;
        color: white !important;
    }
    #menu{
        padding: 1px 0;
        display: inline-flex;
    }
    #menu li{
        /* min-width: 134px; */
        text-align: center;
        text-transform: uppercase;
        margin-left: .5rem;
        margin-right: .5rem;
    }
    #menu li a{
        color: #008ABE;
        font-weight: 500;
        text-decoration: none;
    }
    #menu li a:active{
        color: #A9CE4B;
    }
    /* sidebar */
    
    /* content */
    #content{
        width:100%;
        margin-top: 7%;
    }
    .info_paciente{
        background-color: white;
        box-shadow: 3px 3px 20px rgba(0,0,0,0.3);
        margin:10px;
        border-radius: initial !important;
        width: 100%;
    }
    .info_paciente .card-header{
        background: #008ABE;
        color: rgba(255, 255, 255, 0.6);
        text-transform: uppercase;
        border-radius: initial !important;
    }
    .info_paciente .card-body label{
        color:#006E98;
    }
    .info_general{
        margin:10px;
    }
    .hero-callout {
        margin:10px;
    }
    .hero-callout ul a{
        background: #008ABE;
        color:rgba(255, 255, 255, 0.6) !important;
    }
    .hero-callout .nav-tabs {
        border: none;
        height: 50px;
        background: #008ABE !important;
    }
    .hero-callout ul .nav-link {
        border: none;
        padding: .8rem 1rem;
    }
    .hero-callout ul .nav-link:hover {
        color: #fff !important;
        background-color: #006E98;;
        border-radius: 0 !important;
    }
    .hero-callout ul .nav-link.active {
        color: #fff !important;
        background-color: #A9CE4B;;
        /* border:none; */
        border-radius: 0 !important;
    }
    .hero-callout .tab-content{
        background-color: white;
        box-shadow: 3px 3px 20px rgba(0,0,0,0.3);
    }

    #btnSolicitar{
        background: #006E98;
        color: #fff;
    }
    .modal-header{
        background: #006E98;
        color: #fff;
    }
    /* content */

    /* datatable */
    #tablaDatos_wrapper{
        background: #fff;
        padding: 1rem;
        box-shadow: 3px 3px 20px rgba(0,0,0,0.3);
    }
    #tablaDatos tbody tr th {
        font-size: 15px;
        padding:0px 3px !important;
        text-align: center;
    }
    #tablaDatos tbody tr td {
        overflow: hidden; /* this is what fixes the expansion */
        text-overflow: ellipsis; /* not supported in all browsers, but I accepted the tradeoff */
        white-space: pre-wrap;
        font-size: 15px;
        padding:2px 3px !important;
        text-align: center;
    }
    .btn-table {
        color: #34b0c4;
        background-color: #dae0e5;
        border-color: #D6E2DB;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        margin-left: 1.5px;
        margin-right: 1.5px;
    }

    .btn-table:hover{
        cursor:pointer;
    }
    .dataTable tbody th,
    table.dataTable tbody td {
        white-space: nowrap;
    }

    table.someTableClass {
        table-layout: fixed
    }
    /* datatable */

    /* scroll tabla */
    .dataTables_wrapper .dataTables_scroll {
        border: 1px solid #ccc;
        margin: 1.5rem 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    div.dataTables_scrollHead table.dataTable {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        border: none;

    }
    .dataTables_scrollBody {
        overflow-x: hidden !important;
    }
    /* scroll tabla */
    /* tabs */
    .tab-content{
        border: 1px #dee2e6 solid;
        padding: 2px;
    }

    table.dataTable tbody tr.seleccionado{
        background-color: #ABDE7E !important;
    }
    
    #div_ModalVideo{
        position:fixed;
        width:300px;
        height:430px;
        bottom:15px;
        right:74px;
        background-color:#FFF;
        display:none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .agente{
        position: fixed;
        bottom: 15px;
        right: 2;
        border-radius: 200px 200px 200px 200px;
        -moz-border-radius: 200px 200px 200px 200px;
        -webkit-border-radius: 200px 200px 200px 200px;
        border: 3px solid #006e98;
        background-color: white;
        width: 60px;
        height: 60px;
        text-align: center;
        padding: 4px;
        cursor: pointer; 
    }
