body {
	background: #ffffff;
	color: #000000;
	margin: 0px;
}
a {
	font-family: "Arial";
	font-size: 11px;
	font-weight: bold;
}
tr {
	background: #ffffff;
	border: none;
}
td {
	font-size: 12px;
	border: none;
	font-style: normal;
}
table.noborder {
	border: none;
	width: 100%;
}
table.external_border {
	border: #000000 2px solid;
	width: 100%;
}
table.external_border caption, table.border caption {
	text-align: left;
	font-weight: bold;
	font-size: 10px;
}
table.border {
	/* border-collapse: collapse; */
	/* border: #afafaf 1px solid; */
	margin-bottom: 5px;
	/*width: 100%;*/
}
table.border td {
	font-size: 10px;
	/*border: #000000 1px solid;*/
	border: #afafaf 1px solid;
	border-right: #afafaf 1px solid;
	font-style: normal;
	padding: 2px 5px 2px 5px;/**/
}
table td.row2 {
	font-size: 10px;
	/* border: #000000 1px solid; */
	/* border-bottom: #afafaf 1px solid; */
	border-right: #afafaf 1px solid;
	font-style: normal;
	/* padding: 2px 5px 2px 5px; */
}
table.noborder td {
	font-size: 12px;
	border: none;
	padding: 0px;
}
td.head {
	background: #cecece;
	text-align: center;
	font-weight: bold;
	white-space: nowrap;
}
td.head_left {
	background: #cecece;
	text-align: left;
	font-weight: bold;
	white-space: nowrap;
}
td.head_name {
	text-align: left;
	font-weight: bold;
	white-space: nowrap;
}
td.row {
	text-align: center;
	vertical-align: text-top;
}
td.row2 {
	text-align: left;
	vertical-align: text-top;
}
td.row3 {
	text-align: right;
	vertical-align: text-top;
}
td.row4{
	vertical-align: inherit;
}
th {
	font-size: 17px;
	text-align: left;
	font-weight: bold;
	border: none;
	font-style: normal;
}
p {
	font-size: 11px;
	text-align: justify;
}
.noprintable {
	display: none;
}
.margen {
	clear: both;
}
.content {
	margin: 0px auto;
	width: 649px; /*800px;*/
	font-family: "Arial", "Tahoma", "Courier New";
	background: #ffffff;
}
.header {
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: #000000 1px solid;
	/*position: relative;
	height: 0px;*/
}
.header .subheader {
	padding: 5px;
	border: #000000 1px solid;
}
.header .subheader span {
	font-size: 12px;
	text-align: justify;
	font-weight: bold;
}
.header .subheader .sub {
	font-size: 10px;
	text-align: right;
	vertical-align: text-top;
	white-space: nowrap;
}
.header .subheader .desc {
	text-align: justify;
	text-transform: uppercase;
	padding-right: 30px;
}
.header .subheader .desc2 {
	text-align: justify;
	text-transform: capitalize;
	padding-right: 30px;
}
.info {
	clear: both;
	padding-bottom: 10px;
}
.info .block {
	margin-bottom: 5px;
	padding-bottom: 10px;
	/*padding-top: 10px;*/
	border-bottom: #000000 1px solid;
	/*position: relative;
	height: 0px;*/
}
.info span {
	font-size: 12px;
	text-align: justify;
	font-weight: bold;
}
.footer {
	font-family: Arial;
	text-align: center;
	font-size: 8px;
	color: #5e5e5e;
}
.footer_factura {
	text-align: justify;
	font-size: 10px;
	color: #5e5e5e;
}
